@font-face {
    font-family: silkscreen;
    src: url('fonts/slkscr.TTF');
}

html {
    min-height: 101%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
}

li, a {
    font-family: sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: rgb(104, 104, 110);
}

.logo {
    font-family: silkscreen;
    color: rgb(0, 72, 139);
    font-weight: bolder;
    font-size: 35px;
    padding-left: 100px;
}

.logReg {
    font-size: 15px;
    color: white;
    font-weight: bolder;
    padding: 9px 10px;
    background: rgba(0, 136, 169, 1);
    border: 0.8px rgb(71, 71, 71) solid;
    cursor: pointer;
}

.logReg:hover {
    background: cadetblue;
}

a:hover {
    cursor: pointer;
    color: cadetblue;
}

.logReg:active {
    background: rgb(135, 160, 95);
}

a:active, li:active {
    color: rgb(135, 160, 95);
}

#loginICON {
    width: 11px;
}

#log {
    border-radius: 3px 0px 0px 3px;
    border-right: 0px;
}

#reg {
    border-radius: 0px 3px 3px 0px;
}

.box {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.box .row.content {
    overflow: auto;
    flex: 1 1 auto;
    /*background: rgb(216, 243, 169);*/
    background: rgb(236, 236, 236);
    background: rgb(240, 241, 241);
    padding: 30px 10%;
    margin-top: 51px;
    /*margin: 1px 5%;*/
    height: 100%;
}

.box .row.header {
    box-shadow: 0px 1px rgb(187, 185, 185);
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    margin-top: 0px;
    background: rgb(255, 255, 255);
    /* background: rgb(216, 243, 169);*/
}

.box .row.footer {
    flex: 0 1 40px;
    text-align: right;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.links {
    flex: 0.5;
    /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
}

.nav_center {
    flex: 1;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    height: auto;
}

li {
    list-style: none;
}

.nav_center li a {
    /* display: inline-block;*/
    padding: 0px 30px;
    /*padding-right:30px;*/
}

.rechts {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    Height: 100%;
    padding: 3px;
    margin-right: 100px;
}

#formtitle {
    padding-bottom: 30px;
}

#loginForm, #registerForm {
    margin-top: 10px;
}

#formparentID {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

#closeDIV {
    text-align: right;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#popUPID {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    display: none;
    /* Hidden by default */
    position: fixed;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.pupup-content {
    /*text-align: center;*/
    font-family: silkscreen;
    background-color: #fefefe;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 350px;
    height: 350px;
    background: rgb(238, 191, 37);
}

#pupup-contentID div {
    margin-bottom: 10px;
}

#pupup-contentID input {
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
    margin-top: 5px;
    border-radius: 4px;
    border: 0.5px solid rgb(255, 255, 255);
    padding: 3px 3px;
    /* font-size: 15px;*/
    width: 90%
}

#pupup-contentID input:hover, #pupup-contentID input:focus {
    border: 0.5px solid rgb(63, 201, 206);
}

#SIGNUP_btn, #LOGIN_btn {
    font-family: silkscreen;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background: rgb(0, 72, 139);
}

#loginRegIMG {
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0;
    top: 60px;
    width: 105px;
    border-radius: 50%;
    background: #60c7c1;
    padding: 15px;
}

#loginRegIMGDIV, #feedDIV {
    text-align: center;
}

#formtitle {
    text-align: center;
    font-size: 25px;
}

#arrowToLogin {
    margin-right: 20px;
}

.next {
    margin-top: 60px;
    border-radius: 50%;
    background: #60c7c1;
    padding: 8px 16px;
    cursor: pointer;
}

.next:hover {
    background: rgb(177, 235, 170);
}

#logout {
    border-radius: 50%;
    border: 2px blue solid;
    width: 40px;
    height: 40px;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile:hover {
    background: rgb(188, 200, 207);
}

.directionColumn {
    flex-direction: column;
}

.directionColumn ul {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    min-width: 160px;
    margin-right: 40px;
    top: 50px;
    padding-left: 0px;
    margin-top: 0;
    /*border: 1px dotted rgb(85, 84, 84);*/
    margin-left: 40px;
}

.directionColumn li {
    height: 100%;
    padding: 0;
}

.directionColumn ul li {
    padding: 12px 16px;
    font-size: 15px;
    padding-bottom: 5px;
    border: 1px rgb(85, 84, 84) dotted;
}

.directionColumn ul li:hover {
    background: lightblue;
}

.directionColumn:hover #submenu1 {
    display: block;
}

.submenuIMAGE {
    width: 15px;
    margin-right: 10px;
}

.barIMAGE:hover {
    width: 20px;
}

.barIMAGE {
    width: 18px;
    padding-right: 12px;
}

.siteTitle {
    text-align: center;
    margin-bottom: 15px;
}

.mosaicBasicTitle {
    margin-bottom: 5px;
}

.welcomeTitle {
    margin-bottom: 5px;
    font-size: 3.4vw;
    font-family: silkscreen;
    color: rgb(93, 79, 223);
}

#currentlyNoIMAGESID {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.noImages {
    margin-top: 50px;
    max-width: 80;
    width: 500px;
    opacity: 0.7;
}

.centertext {
    align-items: center;
}

.siteTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgb(5, 5, 5);
}

.grid-containerGallery {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    /* grid-template-columns: repeat(3, 1fr);*/
    grid-auto-rows: 22vw;
    /*grid-template-rows: repeat(4, 20vw);*/
    /*grid-gap: 15px;*/
    /* grid-template-columns: auto auto auto;*/
    padding: 10px;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

.grid-item {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    align-content: center;
    justify-content: center;
}

.grid-img, .grid-img-MosaicC {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item:hover .grid-img {
    opacity: 0.8;
    /*filter: brightness(85%);*/
    transition: all 0.5s ease;
    cursor: pointer;
}

.grid-item:hover .overlay {
    opacity: 0.95;
}

.overlay {
    position: absolute;
    bottom: 5%;
    right: 5%;
    opacity: 0;
    transition: .3s ease;
    cursor: pointer;
}

.overlayDownload, .overlayInfo {
    width: 25px;
    height: 25px;
}

/* The imageModal (background) */

.imageModal, #imgInfoModalID, #poolModulID, #imageModal2, .loadermodal, #poolGenerator-Modal, #poolModalshowData, #showGraph-Pool-Img-Modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#avgRGBflex-container {
    margin-top: 5px;
    display: flex;
    margin-left: 60px;
}

.colRect {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.greenPoly {
    fill: rgba(150, 243, 150, 0.9);
    /*stroke: rgb(95, 94, 94);
stroke-linejoin: round;*/
}

.redPoly {
    fill: rgba(252, 114, 114, 0.9);
}

.bluePoly {
    fill: rgba(115, 115, 245, 0.9);
}

.redColRect {
    background: rgba(252, 114, 114, 0.9);
}

.greenColRect {
    background: rgba(150, 243, 150, 0.9);
}

.blueColRect {
    background: rgba(115, 115, 245, 0.9);
}

#poolModalshowData, #poolGenerator-Modal, #showGraph-Pool-Img-Modal {
    background-color: rgba(0, 0, 0, 0.6);
}

#poolModulID {
    background-color: rgba(0, 0, 0, 0.7);
}

.loadermodal {
    top: 100%;
    background-color: rgba(0, 0, 0, 0);
}

/* imageModal Content (image) */

#imgModalID, #loaderModalID {
    margin: auto auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 80%;
    max-height: 80%;
    padding-top: auto;
}

#imgInfoText, #choosePool-modalContent, #poolGenerator-Content-Modal, #graph-PoolModal-content {
    display: flex;
    margin: auto auto;
    position: fixed;
    background: rgba(255, 255, 255, .7);
    border-radius: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 60%;
    padding: 5px;
    padding-top: auto;
}

#poolGenerator-Content-Modal {
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    width: 300px;
    height: 240px;
}

text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#graph-PoolModal-content {
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    width: 440px;
    height: 450px;
}

.graph-Pool-Title {
    color: gray;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    border-bottom: rgb(151, 151, 151) 1px solid;
}

#pool-Graph {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#avgRGBText {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.deleteIMG {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#notePOOL {
    /*font-size: 20px;*/
    color: rgb(0, 153, 255);
    margin-bottom: 10px;
    padding-left: 10px;
}

#gridBoxImgPool {
    margin-top: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 6vw;
    /*grid-gap: 15px;*/
    padding: 10px;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

.grid-imgPools-item {
    border-radius: 10px;
    background-color: rgb(123, 210, 231);
    display: flex;
    /*justify-content: center;*/
    cursor: pointer;
    align-items: center;
}

.right-flex, .center-flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-flex {
    justify-content: flex-end;
    flex: 1;
}

.center-flex {
    flex: 20;
}

.grid-imgPools-item:hover {
    opacity: 0.9;
}

#choosePool-modalContent {
    padding: 0px;
    flex-direction: column;
    background: rgba(255, 255, 255);
    width: 300px;
    height: 370px;
}

.pool-scroll-Container {
    padding-top: 12px;
    width: 300px;
    height: 265px;
    overflow-y: scroll;
}

#uploadPool_Btn {
    display: none;
}

#poolModalcreate, #generator_btnDiv {
    color: rgb(51, 51, 51);
    padding-top: 10px;
    padding-left: 20px;
    border-top: rgb(151, 150, 150) solid 1px;
}

#generator_btnDiv {
    padding-top: 0px;
}

#plusCreatePool {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#plusCreatePool:hover {
    color: rgb(8, 73, 116);
}

#poolModalcreate2 {
    display: none;
    color: rgb(51, 51, 51);
    padding-top: 10px;
    padding-left: 20px;
    border-top: rgb(151, 150, 150) solid 1px;
    align-items: center;
}

#poolModalTitle, #poolGenerator-Title {
    text-align: center;
    color: rgb(121, 120, 120);
    padding: 10px;
    border-bottom: rgb(151, 150, 150) solid 1px;
}

#poolGenerator-Title {
    font-size: 20px;
}

.poolChooseDiv {
    color: rgb(77, 76, 76);
    margin-bottom: 5px;
    padding: 1px;
    padding-left: 15px;
}

#addnewPoolID, .kachelPic, .deletePoolIMG, .downloadPoolIMG, .infoPoolIMG, .deleteWholePool {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.deletePoolIMG, .downloadPoolIMG, .deleteWholePool {
    cursor: pointer;
}

#newPoolNameTitle {
    font-size: 12px;
}

#createPoolname {
    width: 90%;
    border: none;
    border-bottom: black 1px solid;
}

#createPoolbtnDiv, #generator_submitDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    margin-right: 10%;
}

#createPoolbtn, #addToPoolbtn {
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(8, 73, 116);
}

#createPoolbtn:active, #addToPoolbtn:active {
    border: none;
    color: rgb(197, 140, 34);
}

#poolFeed {
    margin: auto;
    padding-left: 10px;
    margin-bottom: 10px;
}

#poolModal-ContentData {
    display: flex;
    margin: auto auto;
    position: fixed;
    background: rgba(255, 255, 255, .7);
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    flex-direction: column;
    background: rgba(255, 255, 255);
    width: 600px;
    height: 500px;
}

.pool-modal-title {
    color: rgb(121, 120, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

.pooldata-scroll-Container {
    overflow-y: auto;
    /*overflow-y: scroll;*/
    padding: 10px;
    height: 380px;
    padding-top: 20px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    border: #888 .5px solid;
    box-shadow: none;
}

.pooldataDiv {
    display: flex;
    flex-direction: row;
}

.deletePoolDIV {
    text-align: right;
    padding-right: 10px;
}

.kachelname {
    width: 400px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.left-PoolDiv {
    flex: 1 1 auto;
    text-align: right;
}

#previewTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    font-size: 18px;
    padding-left: 60px;
    color: rgba(165, 164, 164, 0.9);
}

#beforeAfterMosaicDiv {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 0.75fr 0.4fr 0.75fr;
    grid-auto-rows: 25vw;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.beforeAfterMosaic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgba(172, 171, 171, 0.5);
    font-size: 60px;
}

.beforeAfterBorder {
    border-radius: 5px;
    border: 7px rgba(172, 171, 171, 0.5) dashed;
    font-family: silkscreen;
}

.unselectable {
    user-select: none;
}

.grid-img-MosaicC {
    border-radius: 10px;
    /*border: 1px rgba(194, 191, 191, 0.5) solid;*/
    cursor: pointer;
}

.grid-img-MosaicC:hover {
    filter: brightness(80%);
}

@media only screen and (min-width: 900px) {
    .grid-containerGallery {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        /* grid-template-columns: repeat(3, 1fr);*/
        grid-auto-rows: 18vw;
        /*grid-gap: 15px;*/
        padding: 10px;
        grid-column-gap: 15px;
        grid-row-gap: 10px;
    }
    #gridBoxImgPool {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 3vw;
    }
}

@media only screen and (max-width: 900px) {
    #previewTitle {
        padding-left: 10px;
    }
    .overlay {
        display: none;
    }
    #beforeAfterMosaicDiv {
        grid-auto-rows: 30vw;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.loader {
    border: 8px solid rgba(172, 171, 171, 0.5);
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#fieldset-flex-Div {
    display: flex;
}

.flex-span-right {
    flex-grow: 1;
    text-align: right;
    margin-right: 20px;
}

#generator-select-input-Div {
    margin-bottom: 15px;
}

.generator-poolname {
    margin-top: 10px;
}

#generator-size-Div {
    margin-bottom: 50px;
}

#generator-inputsDIV div {
    margin-left: 20px;
}

#showPoolModulIDbtn {
    margin-left: 10px;
}

#selectAlbumDiv {
    text-align: right;
}

select {
    border-radius: 2px;
    background: white;
}

#albumSelection {
    color: rgb(108, 108, 238);
    background: transparent;
    font-size: 16px;
    border: 0.5px rgb(207, 205, 205) solid;
}

#albumSelection:hover {
    color: rgb(211, 128, 51);
}

#albumSelection option {
    background: transparent;
    background-color: rgba(255, 255, 255, 0.5);
}

#createAlbumIMG {
    width: 17px;
    vertical-align: middle;
    padding-bottom: 3px;
    cursor: pointer;
}

#chooseAlbumID {
    border: none;
    background: transparent;
}

#albumMosaicSpan {
    background: white;
    border: rgb(164, 164, 168) 1px solid;
    padding: 1px;
    border-radius: 2px;
    margin-right: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    margin-top: 2px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border: rgb(155, 155, 158) 1px solid;
    padding: 2px;
    z-index: 1;
    width: 180px;
    height: 50px;
}

.displayFlex {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

#newAlbumnameDIV {
    margin-bottom: 2px;
}

#createAlbumBtnDIV {
    margin: 3px;
    text-align: right;
}

#creatAlbumBTN {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(94, 94, 233);
    border: none;
    background: none;
    cursor: pointer;
}

#creatAlbumBTN:hover {
    color: rgb(233, 171, 36);
}

.dropdownOption {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 17px;
    color: rgb(94, 94, 233);
    border-radius: 20%;
    border: 0.5px rgba(154, 154, 155, 0.5) solid;
    cursor: pointer;
}

.dropdownOption:hover {
    color: rgb(233, 171, 36);
}

.dropdownDelete {
    display: none;
    left: auto;
    right: 0;
    position: absolute;
    z-index: 11;
    background: rgb(236, 236, 236);
    margin-top: 2px;
    padding: 2px;
    border-radius: 2px;
    border: 0.5px rgba(189, 189, 192, 0.5) solid;
    font-size: 14px;
}

#deleteAlbum {
    white-space: nowrap;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(104, 104, 161);
    cursor: pointer;
}

#deleteAlbum:hover {
    color: rgb(233, 171, 36);
}

.show {
    display: block;
}

.centerContantDiv {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    min-width: 80%;
    Height: 500px;
    border: 1px solid rgb(75, 77, 75);
    border-radius: 5px;
    padding: 0px;
}

.sidenav {
    background-color: rgb(117, 116, 116);
    width: 200px;
    height: 100%;
    margin: 0px;
}

.sidenav ul {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.sidenav ul li {
    margin: 0px;
    color: #f1f1f1;
    list-style: none;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(209, 208, 208, 0.3);
}

.sidenav ul li:hover {
    cursor: pointer;
    color: #639eeb;
}

.flexRow {
    display: flex;
    height: 100%;
}

#settingWelcomeTitle, .settingTitle {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

#settingWelcomeText {
    margin-top: 40px;
    text-align: center;
}

#settingsContent {
    display: flex;
    flex-direction: column;
    width: 80%
}

#helloIcon, .iconKeyDelete {
    width: 25px;
}

.settingstitle {
    margin-left: 140px;
}

.centerForm {
    margin-top: 40px;
}

.cdForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
}

.cdForm input {
    margin: 2px;
    font-size: 14px;
}

.feedbackstring {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}